<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="100" alt="Angular Logo" src="http://mifort.org/data/company/mifort-int-logo.png">
  <h1>
    {{ title }}
  </h1>

</div>
<app-header (changeAddValue)="changeTimerValue($event)"></app-header>
<app-default-timer [addValue]="addTimerValue" ></app-default-timer>
<div class="timers">
  <app-onpush-timer [addValue]="addTimerValue" ></app-onpush-timer>
  <app-change-detector-timer [addValue]="addTimerValue" ></app-change-detector-timer>
</div>
<router-outlet></router-outlet>
